.authenticationContainer {
  margin: 0 auto;
  padding: 0 24px 48px 24px;
  max-width: 900px;
  overflow: hidden;
}

.center {
  text-align: center;
}



/* card: {
  minWidth: 275,
},
bullet: {
  display: 'inline-block',
  margin: '0 2px',
  transform: 'scale(0.8)',
},
title: {
  marginBottom: 16,
  fontSize: 14,
  color: theme.palette.text.secondary,
},
paper: {
  padding: theme.spacing.unit * 2,
  textAlign: 'center',
  color: theme.palette.text.secondary,
},
pos: {
  marginBottom: 12,
  color: theme.palette.text.secondary,
}, */

