input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0px 1000px white inset;
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  /* transition: background-color 5000s ease-in-out 0s, color 5000s ease-in-out 0s; */
  /* transition-delay: background-color 5000s, color 5000s; */
  /* transition: background-color 5000s ease-in-out 0s; */
}
