.border-bottom {
  border-bottom: 1px solid #eee;
}

h2 {
  font-weight: 600;
  margin: 19.95px 0 0 0;
  padding: 0 0 6px 0;
  -webkit-margin-after: 0px;
  -webkit-margin-before: 0.5em;
}

h4 {
  margin: 19.95px 0 0 0;
  padding: 0 0 6px 16px;
  -webkit-margin-after: 0px;
  -webkit-margin-before: 0.5em;
}

@media (max-width: 767px) {
  .responsive {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
  }

  .responsive_2 {
    padding: 20px;
    bottom: 128px;
  }
}

@media (max-height: 500px) and (max-width: 767px) {
  .responsive_2 {
    bottom: 72px;
    padding: 5px;
    background: white;
  }
}